# -----------------------------------------------------------
# General
/.idea/
/.gradle/

junitvmwatcher*.properties
build.properties
junit*.properties
/gradle.properties

classes_gen/
source_gen/
source_gen.caches/

workspace.xml

# -----------------------------------------------------------
# * tests
test_gen/
test_gen.caches/

# --------------------------------------- 
# RCP
build/
!/build/scripts/build_all_scripts.xml
