# -----------------------------------------------------------
# General


*.class

.idea
.gradle
code\languages\org.mpsqa.clones\.mps\workspace.xml

junitvmwatcher*.properties
build.properties
junit*.properties
/gradle.properties

classes_gen
source_gen
source_gen.caches

workspace.xml

# -----------------------------------------------------------
# * tests
test_gen
test_gen.caches

# --------------------------------------- 
# RCP
artifacts/*
build/*
