
name: MPS-QA_CI

on: [push, pull_request]

env:
  GITHUB_TOKEN: ${{ secrets.MPSQA_GITHUB_PKG_REGISTRY }}

jobs:
  build_mps_qa_packages:
    runs-on: ubuntu-latest
    env:
      DISPLAY: ':99'

    steps:
    - uses: actions/checkout@v2

    - name: Setup headless environment
      run: |
        Xvfb :99 -screen 0 1024x768x24 > /dev/null 2>&1 &
       
    - name: Set up JDK 11
      uses: actions/setup-java@v1
      with:
        java-version: 11  
        
    - name: Build MPS-QA and Publish to Github Maven
      uses: gradle/gradle-build-action@v2
      with: 
        arguments: publish -Pgpr.user=${{github.actor}} -Pgpr.token=${{ secrets.GITHUB_TOKEN }} -Partifacts.itemis.cloud.user=${{secrets.ARTIFACTS_ITEMIS_CLOUD_USER}} -Partifacts.itemis.cloud.pw=${{secrets.ARTIFACTS_ITEMIS_CLOUD_PW}}
        wrapper-cache-enabled: true
        dependencies-cache-enabled: true
        dependencies-cache-key: gradle/dependency-locks/**
        dependencies-cache-exact: true
        configuration-cache-enabled: true

    - name: Archive distribution
      uses: actions/upload-artifact@v2
      with:
        name: mpsqa-distribution-2020.3-${{ steps.time.outputs.time }}
        path: build/artifacts/org.mpsqa.allInOne/org.mpsqa.allInOne.zip
